<div id="wrapper" class="fade-in">
  <!-- Intro -->
  <div id="intro">
    <img src="/images/logo.png" alt="" class="logo" />

    <img src="/images/truck.png" alt="" class="truck" />
    <ul class="btn-body">
      <li class="btn">
        <a href="https://www.redboxplus.com/gold-coast" target="_blank"
          ><p>Go to redbox+ website</p>
          <img src="/images/iconmonstr-link-1-240.png" alt=""
        /></a>
      </li>
      <li class="btn mobile">
        <a href="tel:8006601377"
          ><p>Call to order a container</p>
          <img src="/images/iconmonstr-phone-5-240.png" alt=""
        /></a>
      </li>
      <li class="btn mobile">
        <a
          href="sms:7868296410&body=Hello, I would like to rent a dumpster. Could someone please reach out to me for pricing and availability?"
          ><p>Text to order a container</p>
          <img src="/images/iconmonstr-speech-bubble-26-240.png" alt=""
        /></a>
      </li>
      <li class="btn mobile">
        <a href="/M-Knecht-Vcard.vcf"
          ><p>Save redbox+ contact</p>
          <img src="/images/iconmonstr-clipboard-12-240.png" alt=""
        /></a>
      </li>
    </ul>
    <div class="languages">
      <ul>
        <li>
          <a href="/"><img src="/images/us.png" alt="" /> US</a>
        </li>
        <hr />
        <li>
          <a href=""><img src="/images/es.png" alt="" /> ES</a>
        </li>
      </ul>
    </div>
  </div>
</div>
